<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Vuejs CDN 개발자용 -->
    <script src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>




    <script>

        $(function () {
            var vue = new Vue({
                el: '#app',
                data: {
                    title : '간단한 회원인증 폼 만들기',
                    id : '',
                    pass : ''
                },
                computed : {
                  login : function () {
                      var loginMsg = this.id + '님, 인증전입니다.';
                      if(this.id=='kosmo' && this.pass=='1234'){
                          //style 속성이 적용되지 않은 텍스트 그대로 출력된다.
                          //loginMsg = '<span style="color:red;">'+this.id+'님, 인증되었습니다. 환영합니다.</span>';

                          //새로 변경한 출력형태는 style이 적용된다.
                          loginMsg = this.id+'님, 인증되었습니다. 환영합니다.';
                      }
                      return loginMsg;
                  }
                }
            });
        });
    </script>
    
</head>
<body>
    <div id='app'>
        <h2>{{title}}</h2>
        
        아이디 : <input type="text" v-model='id'><br>
        패스워드 : <input type="text" v-model='pass'><br>
        <!-- style속성이 제대로 적용되지 않았다. 다른방법이 있다고.. -->
        <span v-show='id!=""' >{{login}}</span>
        <!-- style속성이 제대로 적용되었다 -->
        <span v-show='id!=""' style="color:red;">{{login}}</span>
    </div>
</body>
</html>